{% extends 'base.html' %}
{% block title %}Record Sale{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-3">Record a Sale</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Save Sale</button>
                    <a href="{% url 'sales:sale_list' %}" class="btn btn-outline-light ms-2">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
